<h2>Log in</h2>

<div class="row">
  <div class="col m6 offset-m3">
    <%= form_tag sessions_path do %>
      <div class="input-field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="input-field">
        <%= password_field_tag :password %>
        <%= label_tag :password %>
      </div>
      <div class="input-field">
        <%= submit_tag 'Log in', class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
