<h2>Current reservations</h2>

<div>
  <% current_user.restaurant.reservations.each do |reservation| %>
  <ul>
    <li>Client: <%=  reservation.user.name %>
      on: <%=  reservation.date.strftime('%A, %B %d, %Y') %>
      at: <%=  reservation.time.strftime('%I:%M%p') %>
      st: <%=  reservation.status %>
        <% if reservation.status == "pending" %>
          <%= link_to "Confirm", restaurant_reservation_confirm_path(reservation.restaurant, reservation), method: :patch %>
          <%= link_to "Cancel", restaurant_reservation_cancel_path(reservation.restaurant, reservation), method: :put %>
        <% elsif reservation.status == "confirmed"  %>
          <span>CONFIRMED</span>
        <% elsif reservation.status == "cancelled"  %>
          <span>CANCELLED</span>
        <% end %>
    </li>
  </ul>
  <% end %>

<% flash.each do |key, value| %>
  <p class="flash">
    <%= content_tag :div, value, class: "flash #{key}" %>
  </p>
<% end %>

<h2>Total Reservations for today</h2>
<p>Seats Reserved <%= current_user.restaurant.todays_reservations %></p>
<p>Remaining seats: <%= current_user.restaurant.remaining_seats %></p>

<h4>Restaurant Info:</h4>

<% restaurant = current_user.restaurant %>

<div class="main restaurant">
  <p><%= restaurant.name %></p>
  <p>Address: <%= restaurant.name %></p>
  <p>City: <%= restaurant.city %></p>
  <p>Price range: <%= restaurant.price_range %></p>
  <p>Total seats: <%= restaurant.total_seats %></p>
  <p>Price Range: <%= restaurant.price_range %></p>
  <p>Description: <%= restaurant.description %></p>
  <p>Open: <%= restaurant.open_hour.strftime('%I:%M%p') %></p>
  <p>Close: <%= restaurant.close_hour.strftime('%I:%M%p') %></p>
  <p><a href="<%= edit_restaurant_path(restaurant.id) %>">Edit Restaurant Info</a></p>
</div>
