<h2>Current reservations</h2>

<div class="row">
  <div class="col m8 offset-m2">
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Client</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% current_user.restaurant.reservations.each do |reservation| %>
          <tr>
            <td><%=  reservation.user.name %></td>
            <td><%=  reservation.date.strftime('%A, %B %d, %Y') %></td>
            <td><%=  reservation.time.strftime('%I:%M%p') %></td>
            <td>
              <%=  reservation.status %>
            </td>
            <td>
              <% if reservation.status == "pending" %>
                <%= link_to "Confirm", restaurant_reservation_confirm_path(reservation.restaurant, reservation), method: :patch, class: 'btn waves-effect waves-light btn' %>
                <%= link_to "Cancel", restaurant_reservation_cancel_path(reservation.restaurant, reservation), method: :put, class: 'btn waves-effect waves-light btn' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr class="admin_division">

<div class="row">
  <section class="seats_info col m8 offset-m2">
    <h2>Total Reservations for today</h2>

    <div class="row">
      <div class="col m6 center">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Seats Reserved
            </span>
            <hr>
            <div class="num">
              <%= current_user.restaurant.reservations_on_day(Date.today) %>
            </div>
          </div>
        </div>
      </div>

      <div class="col m6 center">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Remaining Seats
            </span>
            <hr>
            <div class="num">
              <%= current_user.restaurant.remaining_seats(Date.today) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<hr class="admin_division">

<div class="row">
  <section class="seats_info col m6 offset-m3">
    <h2>Restaurant Info</h2>
    <% restaurant = current_user.restaurant %>
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <p class="reser restaurant_name"><%= restaurant.name %></p>
        </span>
        <hr>
        <p>Address: <%= restaurant.address %></p>
        <p>City: <%= restaurant.city %></p>
        <p>Price Range: $<%= restaurant.price_range %></p>
        <p>Total seats: <%= restaurant.total_seats %></p>
        <p>Description: <%= restaurant.description %></p>
        <p>Open: <%= restaurant.open_hour.strftime('%I:%M%p') %></p>
        <p>Close: <%= restaurant.close_hour.strftime('%I:%M%p') %></p>
      </div>
      <div class="card-action center">
        <%= link_to 'Edit Restaurant', edit_restaurant_path(restaurant), class: 'btn' %>
      </div>
    </div>
  </section>
</div>
