<h2><%= current_user.name %></h2>

<h3>My Reservations</h3>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card white darken-1 hoverable center-align">
      <% current_user.reservations.order(created_at: :desc).each do |reservation| %>
        <div class="card-content">
          <span class="card-title">
            <p><%= reservation.restaurant.name %></p>
            <p>Date: <%= reservation.date %></p>
            <p>Time: <%= reservation.time.strftime('%I:%M%p') %></p>
            <p>Number of peole: <%= reservation.num_seats %></p>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
