<div class="profile-container">
  <h2><%= current_user.name %></h2>

  <% if !current_user.is_admin? %>
    <%= link_to 'Create Restaurant', new_restaurant_path, class: 'btn' %>
  <% end %>

  <h3>My Reservations</h3>

  <div class="row">
    <div class="col">
      <div class="card">
        <% current_user.reservations.order(created_at: :desc).each do |reservation| %>
          <div class="card-content">
            <span class="card-title">
              <p class="restaurant">Restaurant: <%= reservation.restaurant.name %></p>
              <p>Date: <%= reservation.date %></p>
              <p>Time: <%= reservation.time.strftime('%I:%M%p') %></p>
              <p>Number of peole: <%= reservation.num_seats %></p>
              <p>Your Reservation is: <%= reservation.status.capitalize %></p>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
