<h2>Request Reservation</h2>

<%= form_for [@restaurant, @reservation] do |f| %>
<p>
  <%= @restaurant.open_hour.strftime('%H') %>

</p>
  <div>
    <%= f.label :date %>
    <%= f.date_select :date, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :time %>
    <%= f.time_select :time, { :default => Time.now.change(:hour => 21), :simple_time_select => true,
:minute_interval => 30, :time_separator => "", :start_hour => @restaurant.open_hour.strftime('%H').to_i, :end_hour => @restaurant.close_hour.strftime('%H').to_i} %>
  </div>

  <div class="form-group">
    <%= f.label :num_seats, 'Seats' %>
    <%= f.number_field :num_seats, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save' %>
  </div>
<% end %>
