<h2>Request Reservation at <%= @restaurant.name %></h2>

<div class="row">
  <div class="col m6 offset-m3">
    <%= render 'partials/errors', object: @reservation %>

    <%= form_for [@restaurant, @reservation] do |f| %>

      <div class="input-field">
        <%= f.date_select :date, { start_year: Time.now.year }, class: 'form-control' %>
        <%= f.label :date %>
      </div>

      <div class="input-field">
        <%= f.time_select :time, { :default => Time.now.change(:hour => 21), :simple_time_select => true,
    :minute_interval => 30, :time_separator => "", :start_hour => @restaurant.open_hour.strftime('%H').to_i, :end_hour => @restaurant.close_hour.strftime('%H').to_i} %>
        <%= f.label :time %>
      </div>

      <div class="input-field">
        <%= f.label :num_seats, 'Seats' %>
        <%= f.number_field :num_seats, class: 'form-control' %>
      </div>

      <div class="input-field">
        <%= f.submit 'Save', class: 'btn' %>
      </div>

    <% end %>
  </div>
</div>
