<h2 class="reser restaurant_name">Editing <%= @restaurant.name %></h2>

<div class="row">
  <%= render 'partials/errors', object: @restaurant %>

  <%= form_for @restaurant ,  method:"patch" , html: { class: 'col s6 offset-s3' } do |f| %>

    <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="input-field file-field">
      <div class="btn">
        <span>Image</span>
          <%= f.file_field :image, class: 'form-control' %>
      </div>
      <div class="file-path-wrapper">
        <input type="text" class="file-path validate">
      </div>
    </div>

    <div class="input-field">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'materialize-textarea' %>
    </div>

    <div class="input-field">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="input-field">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>

    <div class="input-field">
      <%= f.select :price_range, options_for_select(Restaurant::PRICE_RANGES.invert) %>
      <!-- <%= f.label :price_range %> -->
    </div>

    <div class="input-field">
      <%= f.label :total_seats %>
      <%= f.number_field :total_seats, class: 'form-control' %>
    </div>

    <div class="input-field">
      <%= f.label :open_hour %>
      <%= f.text_field :open_hour, class: 'form-control timepicker' %>
    </div>

    <div class="input-field">
      <%= f.label :close_hour %>
      <%= f.text_field :close_hour, class: 'form-control timepicker' %>
    </div>

    <div class="input-field">
      <%= f.label :twitter_handle %>
      <%= f.text_field :twitter_handle, class: 'form-control' %>
    </div>

    <div class="input-field">
      <%= f.submit 'Save', class: 'waves-effect waves-light btn' %>
      <%= link_to 'Cancel', admin_path, class: 'waves-effect waves-light btn' %>
    </div>
  <% end %>
</div>
