<% @restaurants.each do |rest| %>
 <a href="/restaurants/<%= rest.id %>">
  <div class="restBox">
    <h4><%=rest.name%></h4>
    <p><%=rest.address%></p>
    <p><%=rest.city%></p>
    <p><%=rest.price_range%></p>
    <p>Business hours: <%=rest.open_hour.strftime('%I:%M%p')%> to <%=rest.close_hour.strftime('%I:%M%p') %></p>
  </div>
</a>
<% end %>
