<div class="main restaurant">
  <h2><%= @restaurant.name %></h2>
  <p>Address: <%= @restaurant.name %></p>
  <p>Price Range: <%= @restaurant.price_range %></p>
  <p>Description: <%= @restaurant.description %></p>
  <p>Open: <%= @restaurant.open_hour.strftime('%I:%M%p') %></p>
  <p>Close: <%= @restaurant.close_hour.strftime('%I:%M%p') %></p>
</div>
