<!-- Capture meta-tags to display in layout head -->
<% content_for :metas do %>
  <meta property="og:title" content="<%= @restaurant.name %>" />
  <meta property="og:type" content="restaurant.restaurant" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= @restaurant.image.card.url %>" />
<% end %>

<!-- Capture title to display in layout head -->
<% content_for :title do %>
  <%= @restaurant.name %>
<% end %>

<h2><%= @restaurant.name %></h2>

<div class="center">
  <%= link_to 'Make Reservation', new_restaurant_reservation_path(@restaurant), class: 'btn reservation-btn' %>
</div>

<div class="row">
  <div class="col m6 offset-m3">
    <div class="card hoverable restaurant_card">
      <div class="card-content">
        <div class="main restaurant center">
          <div class="tweet-btn">
            <a href="https://twitter.com/intent/tweet?text=<%= @restaurant.name %>&url=<%= request.original_url %>">
              <%= image_tag 'twitter.svg', class: 'z-depth-2 hoverable' %>
            </a>
          </div>
          <p class="description">
            <%= @restaurant.description %>
          </p>
          <hr>
          <p>Price Range: $<%= @restaurant.price_range %></p>
          <p>Hours: <%= @restaurant.open_hour.strftime('%I:%M%p') %> to <%= @restaurant.close_hour.strftime('%I:%M%p') %></p>
          <hr>
          <img class="image_show" src="<%= @restaurant.image.card.url %>" alt="<%= @restaurant.name%>">
          <% if @restaurant.twitter_handle %>
            <hr>
            <!-- Tweeter feed -->
            <a href="https://twitter.com/<%= @restaurant.twitter_handle %>" data-height="800" data-link-color='#FC6453' data-border-color='#593f62' class="twitter-timeline">Tweets by @<%= @restaurant.twitter_handle %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
