<!DOCTYPE html>
<html>
  <head>
    <title>Seatyourselfguacamole</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to 'Log in', new_session_path %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_path %>
        </li>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
