<!DOCTYPE html>
<html>
  <head>
    <title>Seatyourselfguacamole</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora|Roboto:300" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <% if current_user %>
          <li>
            <%= link_to 'Profile', profile_path %>
          </li>
          <% if current_user.is_admin? %>
            <li>
              <%= link_to 'Admin', admin_path %>
            </li>
          <% end %>
          <li>
            <%= link_to 'Log out', session_path(current_user), method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Log in', new_session_path %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_path %>
          </li>
        <% end %>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
